*.pyc
*.prefs
.pydevproject
.settings\
.idea/workspace.xml
.idea/shelf/unnamed/shelved.patch
.idea/shelf/unnamed.xml
.idea/python_exercises.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
